NetahsilatWebServiceLib/Web References/ErpWebService/ErpWebService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SAPVendorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanCancelPayment" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanCreateCustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanCreateVendor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentUserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentSetId" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxOffice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAPVendorDTO" nillable="true" type="tns:SAPVendorDTO" />
  <xs:simpleType name="SAPIntegrationResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Update" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Exception" />
      <xs:enumeration value="NotUpdate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SAPIntegrationResult" nillable="true" type="tns:SAPIntegrationResult" />
</xs:schema>