NetahsilatWebServiceLib/Web References/ErpWebService/ErpWebService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.WCF.VendorPaymentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.WCF.VendorPaymentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBase" nillable="true" type="tns:ResultBase" />
</xs:schema>