NetahsilatWebServiceLib/Web References/ErpWebService/ErpWebService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.WinService.Integration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.WinService.Integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://erpdemosrv.netahsilatservice.com/ERP/ErpWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.IntegrationModels" />
  <xs:complexType name="ArrayOfSAPTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPTransactionDTO" nillable="true" type="tns:SAPTransactionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSAPTransactionDTO" nillable="true" type="tns:ArrayOfSAPTransactionDTO" />
  <xs:complexType name="SAPTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankPaymentOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" type="xs:int" />
      <xs:element minOccurs="0" name="ClientOrderReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyProcessAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.IntegrationModels" minOccurs="0" name="DynamicFields" nillable="true" type="q1:ArrayOfDynamicFieldCollection" />
      <xs:element minOccurs="0" name="DynamicFieldsJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Installment" type="xs:int" />
      <xs:element minOccurs="0" name="InstallmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSubVendorPayment" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVendorCodeHas" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaidVendorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentCommAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentCommRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentCommRateType" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProvisionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepUserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Representatives" nillable="true" type="tns:ArrayOfSAPTransactionVendorRepresentativeDTO" />
      <xs:element minOccurs="0" name="SubVendorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VPosCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VPosTransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAPTransactionDTO" nillable="true" type="tns:SAPTransactionDTO" />
  <xs:complexType name="ArrayOfSAPTransactionVendorRepresentativeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPTransactionVendorRepresentativeDTO" nillable="true" type="tns:SAPTransactionVendorRepresentativeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSAPTransactionVendorRepresentativeDTO" nillable="true" type="tns:ArrayOfSAPTransactionVendorRepresentativeDTO" />
  <xs:complexType name="SAPTransactionVendorRepresentativeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAPTransactionVendorRepresentativeDTO" nillable="true" type="tns:SAPTransactionVendorRepresentativeDTO" />
  <xs:complexType name="ArrayOfSAPTransactionDTOLittle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPTransactionDTOLittle" nillable="true" type="tns:SAPTransactionDTOLittle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSAPTransactionDTOLittle" nillable="true" type="tns:ArrayOfSAPTransactionDTOLittle" />
  <xs:complexType name="SAPTransactionDTOLittle">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Installment" type="xs:int" />
      <xs:element minOccurs="0" name="OrderReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubVendorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VPosTransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAPTransactionDTOLittle" nillable="true" type="tns:SAPTransactionDTOLittle" />
</xs:schema>